#calculadora {
    width: 400px;
    height: 522px;
    background-color: violet;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 100px 100px 100px 100px 100px;
}